# Global ignores
.DS_Store
*.log
.env
variables.env

# Backend ignores
backend/build/
backend/bin/
backend/vendor/
backend/go.work
backend/*.exe
backend/*.exe~
backend/*.dll
backend/*.so
backend/*.dylib
backend/*.o
backend/*.a
backend/*.out

# Frontend ignores
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/coverage/

# Database ignores
db/data/

# IDE/editor specific files
.idea/
*.sublime-project
*.sublime-workspace
.vscode/
*.code-workspace

# Miscellaneous
*.swp
*~
